<form id="search-form" action="{{ path('search.ajax') }}" method="GET" {{ form_enctype(searchForm) }} autocomplete="off">
    <p><!--
        {{ form_errors(searchForm.query) }}
        {{ form_widget(searchForm.query, {'attr': {'autocomplete': 'off', 'autofocus': 'autofocus', 'placeholder': 'Search for plugins...', 'tabindex': 1}}) }}
        {{ form_rest(searchForm) }}
    --></p>
</form>

