<!DOCTYPE html>
<!--[if lte IE 8 ]> <html lang="en" class="no-js oldie"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Martha Plugin Repository{% endblock %}</title>

        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/main.css">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        {% block head_feeds %}
        <link rel="alternate" type="application/rss+xml" title="Newly Submitted Packages - Packagist" href="{{ url('feed_packages', {_format: 'rss'}) }}" />
        <link rel="alternate" type="application/rss+xml" title="New Releases - Packagist" href="{{ url('feed_releases', {_format: 'rss'}) }}" />
        {% endblock %}

        <link rel="search" type="application/opensearchdescription+xml" href="{{ asset('search.osd') }}" title="Packagist" />

        {# {% stylesheets
            '@PackagistWebBundle/Resources/public/css/main.css'
            'css/humane/jackedup.css'
            filter="yui_css" output='css/main.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %} #}

        <script src="{{ asset('js/libs/modernizr-1.7.min.js') }}"></script>

        {% block head_additions %}{% endblock %}
    </head>
<body data-spy="scroll" data-offset="0" data-target="#navigation">
        <div id="navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span class="marthify">Martha</span> Plugins</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                            <li><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></li>
                            <li><a href="{{ path('logout') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ path('hwi_oauth_connect') }}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div id="headerwrap">
            <div class="container">
                <div class="row centered">
                    <div class="col-lg-12">
                        <h1>Plugins for <b class="marthify">Martha</b></h1>
                        <h3>Because one solution doesn't fit all</h3>
                        <br>
                    </div>
                </div>
                <div class="row centered">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search for plugins...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>


        <div class="container">

            <div class="main" role="main">
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        {% if 'fos_user_' in type %}
                            <div class="flash-message {{ type|replace({'fos_user_': ''}) }}">
                                <p>{{ flashMessage|trans({}, 'FOSUserBundle') }}</p>
                            </div>
                        {% else %}
                            <div class="flash-message {{ type }}">
                                <p>{{ flashMessage }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {% block search %}
                    {% if searchForm is defined %}
                        <div class="box">
                            {% include "PackagistWebBundle:Web:searchForm.html.twig" %}
                            <div class="search-list hidden">
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}

                {% block content %}
                {% endblock %}
            </div>
        </div>

        <footer>
            <div class="container">
                <hr>
                Martha Plugins is powered by <a href="https://packagist.org">Packagist</a>.
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="{{ asset('js/libs/jquery-1.8.2.min.js') }}"%3E%3C/script%3E'))</script>
        <script src="{{ asset('js/libs/humane.min.js?v=2') }}"></script>
        <script src="{{ asset('js/libs/ZeroClipboard.min.js') }}"></script>
        <script src="{{ asset('bundles/packagistweb/js/layout.js?v=2') }}"></script>
        <script src="{{ asset('bundles/packagistweb/js/search.js?v=5')}}"></script>

        {% if not app.debug and google_analytics.ga_key %}
            <script>
                var _gaq=[['_setAccount','{{ google_analytics.ga_key }}'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
                g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));
            </script>
        {% endif %}

        {% block scripts %}{% endblock %}
    </body>
</html>
